body {
    font-family: Source Sans Pro, Tahoma, sans-serif;
}

.ddl-form-basic-info {
    max-width: 660px;
    margin: 0 auto;
}

.container-fluid-1280.ddl-form-builder-app {
    max-width: 660px;
    padding-bottom: 30vh;
}

.icon-asterisk.text-warning {
    font-size: .4em;
    vertical-align: text-top;
}

.btn.btn-lg.btn-primary.lfr-ddm-form-submit.pull-right {
    font-weight: 600;
    width: 100%;
}

.lfr-ddm-form-page .row:nth-child(5) .lfr-ddm-form-field-container {
    margin: -2em 0 0 1em;
    padding-top: 0;
}

h5, label.control-label, label, .btn-lg {
    font-size: 18px;
}

.checkbox-default, .radio label {
    font-size: 16px;
}

.liferay-ddm-form-field-tip {
    font-size: 14px;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 0.25em;
    font-size: .8em;
    vertical-align: .05em;
}

.radio input[type="radio"], .radio-inline input[type="radio"] {
    height: 12px;
    width: 12px;
}

.clearfix.radio.radio-options {
    margin-top: 4px;
}