body {
    font-family: Source Sans Pro, Tahoma, sans-serif;
}

.ddl-form-basic-info {
    max-width: 660px;
    margin: 35vh auto 0;
    text-align: center;
}

small em {
	color: #869cad;
}

h5.ddl-form-description {
    font-size: 18px;
}